#SetOutputFilter DEFLATE
#AddOutputFilterByType DEFLATE "application/atom+xml" "application/javRewriteRule ^$ /public/index.php [R=301,L]ascript" "application/json" "application/ld+json" "application/manifest+json" "application/rdf+xml" "application/rss+xml" "application/schema+json" "application/vnd.geo+json" "application/vnd.ms-fontobject" "application/x-font-ttf" "application/x-javascript" "application/x-web-app-manifest+json" "application/xhtml+xml" "application/xml" "font/eot" "font/opentype" "image/bmp" "image/svg+xml" "image/vnd.microsoft.icon" "image/x-icon" "text/cache-manifest" "text/css" "text/html" "text/javascript" "text/plain" "text/vcard" "text/vnd.rim.location.xloc" "text/vtt" "text/x-component" "text/x-cross-domain-policy" "text/xml"
#
#
# LoadModule deflate_module modules/mod_deflate.so


# SECTION BEGIN GIT PROTECTION
RedirectMatch 404 /\.git
# SECTION END GIT PROTECTION

RewriteRule ^$ /public/index.php [R=301,L]

#RewriteEngine On
##RewriteCond %{REQUEST_URI} !public/
#RewriteRule (.*) public/$1 [L]

############################# Error Documents ##############################
# Specify custom error pages for specific HTTP status codes.
ErrorDocument 401 /error/401-authorization_required.html
ErrorDocument 403 /error/403-forbidden.html
ErrorDocument 404 /error/404-not_found.html
ErrorDocument 408 /error/408-request_timed_out.html
ErrorDocument 500 /error/500-internal_server_error.html
ErrorDocument 503 /error/503-service_unavailable.html
###########################################################################

########################## Rewrite Rules for /~user #########################
RewriteEngine On
RewriteCond %{REQUEST_URI} ^/([^/]+)$
RewriteCond %{DOCUMENT_ROOT}/%1 !-d
RewriteCond /home/sites/%{SERVER_NAME}/users/%1 -d
RewriteRule ^([^/]+)$ http://%{HTTP_HOST}/$1/ [R,L]

RewriteCond %{REQUEST_URI} ^/([^/]+)/$
RewriteCond %{DOCUMENT_ROOT}/%1 !-d
RewriteCond /home/sites/%{SERVER_NAME}/users/%1 -d
RewriteRule ^([^/]+)(.+)$ /~$1/$2
###########################################################################

#################### Rewrite Rules for /users/user #########################
RewriteCond %{REQUEST_URI} ^/users/([^/]+)$
RewriteCond %{DOCUMENT_ROOT}/%1 !-d
RewriteCond /home/sites/%{SERVER_NAME}/users/%1 -d
RewriteRule ^users/([^/]+)$ http://%{HTTP_HOST}/users/$1/ [R,L]

RewriteCond %{REQUEST_URI} ^/users/([^/]+)/$
RewriteCond %{DOCUMENT_ROOT}/%1 !-d
RewriteCond /home/sites/%{SERVER_NAME}/users/%1 -d
RewriteRule ^users/([^/]+)(.+)$ /~$1/$2
###########################################################################

############################ PHP Configuration #############################
#php_flag "allow_url_fopen" "On"
#php_flag "allow_url_include" "On"
#php_flag short_open_tag "on"
#php_flag display_errors "off"
#
#php_flag display_startup_errors "on"
#php_flag display_errors "on"
#php_flag html_errors "on"
#
#
#php_flag log_errors "on"
#php_flag ignore_repeated_errors "off"
#php_flag ignore_repeated_source "off"
#php_flag report_memleaks "on"
#php_flag track_errors "on"
#php_value docref_root 0
#php_value docref_ext 0
#php_value error_log /home/path/public_html/domain/PHP_errors.log
#php_value error_reporting -1
#php_value log_errors_max_len 0
###########################################################################

#################### Optional HTTPS Redirection ############################
# Uncomment these lines to enforce HTTPS
# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteRule (.*) https://www.ikamy.ch/$1 [R=301,L]
###########################################################################

##################### Optional Directory Redirection #######################
# Uncomment these lines to redirect to /public if needed
# RewriteCond %{REQUEST_URI} !^/public/
# RewriteRule (.*) http://www.ikamy.ch/public/$1 [R=301]
###########################################################################
